/* Show menu on larger screens */

@media (min-width: 768px)  {
    .horizontalscrollcontainer {
        display: flex;
        
    }

    .scroll-content {
        justify-content: center;
    }

    .scroll-button {
        display: none;
    }
}

@media (min-width: 768px) {
    div.search-bar {
        display: flex;
        
    }

    .menu {
      display: flex;
      position: static;
      transform: none;
      flex-direction: row;
      background-color: transparent;
      width: auto;
    }

    .hamburger {
      display: none;
    }
  }

  /* Responsividade */
 @media (max-width: 768px) {

    footer {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .company-info a {
        margin-right: 10px;
        font-size: 0.9rem;
    }

    .social-links a {
        margin-right: 10px;
        font-size: 20px;
    }

    .payment-methods img {
        width: 35px;
    }

}
 

@media (max-width: 480px) {
    footer {
        padding: 10px;
        text-align: center;
    }

    .company-info a,
    .social-links a {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .payment-methods img {
        width: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .product-image {
        width: 100%;
        height: 450px; /* Defina uma altura fixa para todas as imagens */
        /*overflow: ;  Garante que a imagem não ultrapasse o container */
      }
}

@media (min-width: 992px) {
    .product-image {
        width: 100%;
        height: 450px; /* Defina uma altura fixa para todas as imagens */
        /*overflow: ;  Garante que a imagem não ultrapasse o container */
      }
}