@charset "UTF-8";

:root {
    --cor-1: #ffe600;
    --cor-2: #1f4e96;
    --cor-3: #73b06f;
    --cor-4: #3483fa;
    --cor-5: #405059;
    --cor-6: white;
    --cor-7: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Header */
header {
    background-color: var(--cor-1);
    height: 100%;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    text-shadow: #2d343879 1px 2px 3px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    transition: color 0.3s;
}

span#on {
    color: var(--cor-4);
}

div.search-bar {
    flex-direction: column;
    height: 100%;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: width 0.3s ease;
}

.search-bar input:focus {
    width: 350px;
    outline: none;
    border: 2px solid #ff7f50;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-7);
    font-size: 0.9rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgb(31, 31, 31);
}



.user-actions a {
    color: var(--cor-5);
    margin-left: 15px;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.user-actions a:hover {
    color: var(--cor-4);
}

.user-actions i {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: middle;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .menu {
    display: flex;
  }

  .menu a {
    text-decoration: none;
    color: black;
    padding: 0rem 0rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .hamburger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  /* Animation for X */
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Menu hidden on mobile */
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
    color: white;
    width: 100%;
    border-radius: 5px;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  .menu.open {
    transform: translateY(0);
  }

  

.swiper {
    width: 90%; /* O carrossel ocupa toda a largura do contêiner */
    height: 100%; /* Altura ajustada automaticamente */
  }

  .swiper-slide img {
    width: 100%; /* As imagens se ajustam à largura do slide */
    height: auto; /* Mantém a proporção original */
    display: block; /* Evita gaps causados por elementos inline */
    object-fit: cover; /* Corta o excesso, se necessário */
  }


/* Footer */
footer {
    background-color: #1f1f2e;
    height: 100%;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.company-info a,
.social-links a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 1rem;
    transition: color 0.3s;
}

.company-info a:hover,
.social-links a:hover {
    color: #ff7f50;
}

.payment-methods img {
    width: 40px;
    margin-right: 10px;
}

.social-links i {
    font-size: 25px;
    margin-right: 10px;
}

/* Animações */
nav ul li {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0.1s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.2s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.3s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.4s;
}

nav ul li:nth-child(5) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(6) {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.search-box {
    position: relative;
    display: inline-block;
}

.search-box i {
    position: absolute;
    left: 10px; /* Distância da borda esquerda */
    top: 50%;
    transform: translateY(-50%);
    color: #999; /* Cor do ícone */
}

.search-box input {
    padding: 10px 10px 10px 35px; /* Espaço à esquerda para o ícone */
    border-radius: 4px;
    width: 100%; /* Ajuste o tamanho como necessário */
}
